<h1>Blogposts</h1>

<div class="row">
	<table class="table">
	  <thead>
	  <tr>
	    <th>Post</th>
	    <th>Comment</th>
	    <th colspan="3"></th>
	  </tr>
	  </thead>
	  <%= render @posts %>

	</table>
</div>


<p>
  <a href = 'posts/new'>
        <button type = "button", class = "btn btn-primary">
        	Add Post
        </button>
      </a>
</p>